<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>JukePost</title>
        <style type="text/css">
            * {
                font-family: Helvetica, Arial, sans-serif;
            }
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body style="text-align:center;">
        <h1>JukePost 🎶</h1>
        <h3>Powered by <a href="https://www.spotify.com/" data-msys-linkname="Spotify">Spotify</a></h3>
        <p>
            The following {{if #tracks > 1}}songs have{{else}}song has{{end}} been added to the <a href={{{playList.url}}}>{{playList.name}}</a> Playlist.
        </p>
        {{ each tracks }}
        <div>
            <img src="{{{loop_vars.tracks.image.url}}}" /><br />
            <p>
                {{loop_vars.tracks.name}} (<a href="{{{loop_vars.tracks.preview_url}}}" style="text-decoration: none;">Preview 🔊</a>)<br />
                By:
                {{ each loop_vars.tracks.artists }}
                    {{loop_vars.artists.name}}{{if loop_index != #loop_vars.tracks.artists }}, {{ end }}
                {{ end}}
            </p>
        </div>
        {{ end }}
        <p>
        Email sent using <a href="https://developers.sparkpost.com" data-msys-linkname="Developer Hub">SparkPost</a>.<br/>
        <a href="https://github.com/aydrian/jukepost" data-msys-linkname="JukePost">JukePost</a>
        </p>
    </body>
</html>
